
<% form_for(@blog) do |f| %>
  <fieldset>
   <legend><h2><i><div id="asd">New blog</div></i></h2></legend>

  <%= f.error_messages %>
	<table width="400px">
      <tr>
  		
        <td><b><%= f.label :title %><b></td>
  		<td width="4"><strong>:</strong></td>
    	<td><%= f.text_field :title, :size=>'45' %></td>
	  
      </tr>
  	  <tr>
  
  		<td><b><%= f.label :body %></b></td>
  		<td width="4"><strong>:</strong></td>
    	<td><%= fckeditor_textarea("blog",
                                    "body",
                                    :toolbarSet =>'Easy',
                                    :width => '350', :height => '300' ) %></td>
  
  	  </tr>
  
  	  <tr>

		  <td width="4"><%= f.submit 'Create' %></td>
		  <td width="4"></td>
		  <td><p class="links"><%= link_to 'Back', blogs_path %></p></td>
  	  </tr>
    </table>  

</fieldset>
<% end %>

