
<p>
  <b>Title:</b>
  <%=h @blog.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @blog.body %>
</p>

<div id="new_comment">
</div>


<% form_for(@comment) do |cc| %>
<table>
    <tr>
        <td><b>Name:</b><%= cc.text_field :name, :size=>"10px" %></td>
        <td width="3%"><%= hidden_field_tag :blog_id,  @blog.id %></td>
        <td>
          <p class="links">
            <% form_remote_tag :url => {:action => 'create', :blog_id=>@blog.id } do %>
            <%= submit_tag "Post Comment" %>
            <% end %>
           </p> 
        </td>
    </tr>
    
    <tr>
        <td><b>Comment:</b></td>
        <td width="3%"></td>
        <td><%= fckeditor_textarea("comment",
                                    "body",
                                    :toolbarSet =>'Easy',
                                    :width => '250', :height => '300' ) %>
                                    
        </td>
    </tr>
    
</table>
<% end %>

<hr>

<% @comments.each do |c| %>
  
  <table>
  <div id="comment_by_public">
    <tr>
  
        <td>Commented By:</td>
        <td width="3%"></td>
        <td><%=h c.name %></td>
   
    </tr>   
    <tr>
      
      <td>Comment as:</td>
        <td width="3%"></td>
        <td><%=h c.body %></td>
      
    </tr>
    </div>
 </table>
 <hr>
<% end %>

<p class="links"><%= link_to 'Back', :action=>'view' %></p>