<h1>Details of all albums</h1>

<table>
  
<% @albums.each do |album| %>
  <tr>
    <td><b><%=h album.name %></b></td>
    <td><b><%=h album.description %></b></td>
    <td><div id="add_com_link"><%= link_to 'List all Photo', album %></div></td>
    <td><div id="add_com_link"><%= link_to 'Edit Album', edit_album_path(album) %></div></td>
    <td><div id="add_com_link"><%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></div></td>
  </tr>
<% end %>
</table>

<br />

<div id="add_com_link"><%= link_to 'New album', new_album_path %></div>